img {
    width: 80px;
    border-radius: 50%;
}
.nama {
    text-align: center;
    color: grey;
}
.container-img {
    text-align: center;
}
.role {
    text-align: center;
}
#about {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    margin-top: 25px;
}